body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: #0d121e;
    color: white;
    background-image: url("../images/background.png");
    background-repeat: repeat;
    background-size: auto;
}

#container {
  padding: 10px 50px 10px 50px; 
  box-sizing: border-box;

}


#title {
    font-family: Arial, sans-serif;
    font-size: 32px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: left;
    color: white;
    line-height: 1.2;
    width: calc(100% - 40px);
}



#main-content {
    display: flex;
    height: calc(100vh - 100px);
    width: 100%;
    gap: 20px;
    flex-wrap: wrap; 
    box-sizing: border-box;
    justify-content: center;
    /* min-width: 1020px; */

}

#map {
    flex: 1;
    border: 2px solid #6249aa;
    border-radius: 10px;
    background-color: #131a2a;
    padding: 10px;
    box-sizing: border-box;
    width: 100%;
    height: 40.5vh;
    /* min-width: 960px; */
}

#map-svg {
  width: 100%;
  height: 100%;
  display: block;
}

#right-column {
    flex: 1;
    flex-direction: column;
    justify-content: flex-start;
    height: 100%;
    gap: 20px;
    
}


#bubble-chart {
    flex: 1;
    border: 2px solid #6249aa;
    border-radius: 10px;
    background-color: #131a2a;
    padding: 10px;
    box-sizing: border-box;
    /* height: 40vh; */
    width: 100%; 
}

#scatter-plot {
  flex: none; 
  max-height: 75vh;
  width: 75vh;
  overflow-y: auto;
  border: 2px solid #6249aa;
  border-radius: 10px;
  background-color: #131a2a;
  padding: 10px;
  box-sizing: border-box;
}

#chart {
  width: 100%;
  height: auto;
  display: block;
}
svg {
    width: 100%;
    height: 100%;
}

.view-title {
    font-size: 24px;
    font-weight: bold;
    margin: 10px 0 0px 0 !important;
    color: white;
    text-align: left;
    width: 100%;
}
.view-title-right-column {
    font-size: 24px;
    font-weight: bold;
    margin: 10px 0 0 0 !important;
    color: white;
    text-align: left;
    width: 100%;
}

.state {
    cursor: pointer;
    transition: fill 0.2s;
}

.state:hover {
    fill-opacity: 0.8;
}

.custom-tooltip {
    position: absolute;
    background: #f9f9f9;
    border: 1px solid #ddd;
    padding: 8px;
    border-radius: 5px;
    font-size: 14px;
    visibility: hidden;
    pointer-events: none;
    color: black;
}

.legend-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}

.legend-item {
    display: flex;
    align-items: center;
    margin-right: 15px;
    font-size: 12px;
    color: white;
}

.legend-color {
    width: 12px;
    height: 12px;
    display: inline-block;
    margin-right: 5px;
}

.legend-title {
    font-size: 14px;
    font-weight: bold;
    fill: white; 
}



.tooltip {
    color: black !important; 
}
